<nav class="navbar navbar-light bg-light justify-content-around">
    <a class="nav-item" style="color:black" href="/User/userDashboard">All<span class="sr-only">(current)</span></a>
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle navbar-color-toggler-black" data-toggle="dropdown">
            Womens
        </button>
        <div class="dropdown-menu">
            <a class="nav-link" style="color:black" href="/User/userDashboard/WSHIRTS">Shirts<span class="sr-only">(current)</span></a>
            <a class="nav-link" style="color:black" href="/User/userDashboard/WPANTS">Pants<span class="sr-only">(current)</span></a>
        </div>
    </div>
    <div class="dropdown mr-2 ml-2">
        <button type="button" class="btn dropdown-toggle navbar-color-toggler-black" data-toggle="dropdown">
            Mens
        </button>
        <div class="dropdown-menu">
            <a class="nav-link" style="color:black" href="/User/userDashboard/SHIRTS">Shirts<span class="sr-only">(current)</span></a>
            <a class="nav-link" style="color:black" href="/User/userDashboard/PANTS">Pants<span class="sr-only">(current)</span></a>
        </div>
    </div>
    <a class="nav-item" style="color:black" href="/User/bestSellerDashboard">BestSellers<span class="sr-only">(current)</span></a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container h1" style="color:white">Best Sellers</div>
<section class="on-sale">
    <div class="container">
        <div class="title-box">
            <h2>Hot&nbsp;Hot</h2>
        </div>
    </div>
</section>
<div class="container">
  <div class="row mb-5">
    {{#each cloths}}
    <div class="col-md-4 mb-3 mb-md-3">
        <div class="card py-4 h-100">
            <div class="card-body text-center">
                <img class="img-fluid" src="../uploads/{{ this.ImagePath}}" alt="clothing">
                <div class="container text-center">
                    <p><strong>{{ this.Title }}</strong></p>
                </div>
                <div class="container">
                    <p>{{ this.Desc }}</p>
                </div>
                <div class="container text-center">
                    <p><strong>${{ this.Price }}</strong></p>
                </div>

                <div class="row justify-content-end">
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success" role="button" value="">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
