<h1 style="color:white">TRENDING</h1>
<div class="row bg-light">
    <div class="p-3 col-md-3 border border-dark">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="https://picsum.photos/200/250" alt="clothing">
        </div>
        <div class="container text-center">
            <p><strong>Item Name</strong></p>
            <p>Lorem ipsum dolo.</p>
            <p>$$$</p>
        </div>
        <div class="row justify-content-end">
            <button type="button" class="btn btn-warning">Add to Cart</button>
        </div>
    </div>
    <div class="p-3 col-md-3 border border-dark">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="https://picsum.photos/200/250" alt="clothing">
        </div>
        <div class="container text-center">
            <p><strong>Item Name</strong></p>
            <p>Lorem ipsum dolo.</p>
            <p>$$$</p>
        </div>
        <div class="row justify-content-end">
            <button type="button" class="btn btn-warning">Add to Cart</button>
        </div>
    </div>
    <div class="p-3 col-md-3 border border-dark">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="https://picsum.photos/200/250" alt="clothing">
        </div>
        <div class="container text-center">
            <p><strong>Item Name</strong></p>
            <p>Lorem ipsum dolo.</p>
            <p>$$$</p>
        </div>
        <div class="row justify-content-end">
            <button type="button" class="btn btn-warning">Add to Cart</button>
        </div>
    </div>
    <div class="p-3 col-md-3 border border-dark">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="https://picsum.photos/200/250" alt="clothing">
        </div>
        <div class="container text-center">
            <p><strong>Item Name</strong></p>
            <p>Lorem ipsum dolo.</p>
            <p>$$$</p>
        </div>
        <div class="row justify-content-end">
            <button type="button" class="btn btn-warning">Add to Cart</button>
        </div>
    </div>
</div>




<section class="on-sale">
    <div class="container">
        <div class="title-box">
            <h2>On&nbsp;Sale</h2>
        </div>
    </div>
</section>
<section class="featured-row">
    <div class="container">
        <div class="row">
            {{#each productsBestSeller}}
                <div class="col-md-3">
                    <a href="{{this.href}}"><img class="img-fluid" src="{{this.img}}" alt="First"></a>
                    <p style="color:white;">{{this.title}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="featured-row">
    <div class="container">
        <div class="row">
            {{#each productsBestSeller}}
                <div class="col-md-3">
                    <p style="color:white;">{{this.title}}</p>
                    <a href="{{this.href}}"><img class="img-fluid" src="{{this.img}}" alt="First"></a>
                </div>
            {{/each}}
        </div>
    </div>
</section> 














{{!-- <h1 style="color:white">Welcome {{ firstname }} {{lastname}}</h1>
<div class="row">
    <div class="col-2">
        <div><a class="text-white" href="/">&#9776; Categories</a></div>
        <div><a class="text-white" href="/">&#x1F457; Womans</a></div>
        <div><a class="text-white" href="/">&#x1F456; Men</a></div>
        <div><a class="text-white" href="/">&#x1F4DE; Phones</a></div>
        <div><a class="text-white" href="/">&#x1f4bb; Computer</a></div>
        <div><a class="text-white" href="/">&#x231a;  Jewelry</a></div>
        <div><a class="text-white" href="/">&#x1F436; Home</a></div>
        <div><a class="text-white" href="/">&#x1F45E; Bags</a></div>
        <div><a class="text-white" href="/">&#x1f6bc; Toys</a></div>
        <div><a class="text-white" href="/">&#x1f487; Beauty</a></div>        
    </div>
    <div class="col-8 d-flex justify-content-center">
        <div class="container text-white">
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
        </div>
    </div>
</div> --}}
