<h1 style="color:white">TRENDING</h1>

<section class="on-sale">
    <div class="container">
        <div class="title-box">
            <h2>On&nbsp;Sale</h2>
        </div>
    </div>
</section>
{{#each cloths}}
<div class="row justify-content-between m-5">
    {{#each this}}
    <div class="p-3 col-md-3 border border-dark bg-light ">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="{{ this.ImagePath}}" alt="clothing">
        </div>
        <div class="container text-center">
            <p><strong>{{ this.Title }}</strong></p>
        </div>
        <div class="container">
            <p>{{ this.Desc }}</p>
        </div>
        <div class="container text-center">
            <p><strong>${{ this.Price }}</strong></p>
        </div>

        <div class="row justify-content-end">
            <a href="/add-to-cart/{{this._id}}" class="btn btn-success" role="button" value="">Add to Cart</a>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}



{{!-- {{#each productsBestSeller}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="" alt="">
            <div class="caption">
                <h3>{{ this.title }}</h3>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/1" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
{{/each}} --}}








{{!-- <h1 style="color:white">Welcome {{ firstname }} {{lastname}}</h1>
<div class="row">
    <div class="col-2">
        <div><a class="text-white" href="/">&#9776; Categories</a></div>
        <div><a class="text-white" href="/">&#x1F457; Womans</a></div>
        <div><a class="text-white" href="/">&#x1F456; Men</a></div>
        <div><a class="text-white" href="/">&#x1F4DE; Phones</a></div>
        <div><a class="text-white" href="/">&#x1f4bb; Computer</a></div>
        <div><a class="text-white" href="/">&#x231a;  Jewelry</a></div>
        <div><a class="text-white" href="/">&#x1F436; Home</a></div>
        <div><a class="text-white" href="/">&#x1F45E; Bags</a></div>
        <div><a class="text-white" href="/">&#x1f6bc; Toys</a></div>
        <div><a class="text-white" href="/">&#x1f487; Beauty</a></div>        
    </div>
    <div class="col-8 d-flex justify-content-center">
        <div class="container text-white">
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
        </div>
    </div>
</div> --}}
