<div class="container h1" style="color:white">All Products</div>
<section class="on-sale">
    <div class="container">
        <div class="title-box">
            <h2>On&nbsp;Sale</h2>
        </div>
    </div>
</section>
<div class="container">
{{#each cloths}}
  <div class="row mb-5">
    {{#each this}}
    <div class="col-md-4 mb-md-3">
        <div class="card py-4 h-100">
            <div class="card-body text-center">
                <img class="img-fluid" src="../uploads/{{ this.ImagePath }}" alt="clothing">
                <div class="container text-center">
                    <p><strong>{{ this.Title }}</strong></p>
                </div>
                <div class="container">
                    <p>{{ this.Desc }}</p>
                </div>
                <div class="container text-center">
                    <p><strong>${{ this.Price }}</strong></p>
                </div>

                <div class="row justify-content-end">
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success" role="button" value="">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}