{{# if products}}
    <div class="row bg-light d-flex flex-column p-5">
        <h2 class="text-center">Shopping Cart</h2>
        <div class="col-6 align-self-center">
            <ul class="list-group">
                {{#each products}}
                    <li class="list-group-item d-flex">
                        <img class="img-rounded" src="../uploads/{{this.item.ImagePath}}" alt="Desired Product" style="width:80px;height:100px">
                        <div class="flex-grow-1 p-2">
                            <span class="badge"> {{this.qty}} </span>
                            <strong>{{this.item.Title}}</strong>
                        </div>
                        <p class="align-self-center p-2 label label-success">${{this.Price}}</p>
                        <div class="align-self-center">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Reduce By 1</a></li>
                                    <li><a href="#">Remove All</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{ else }}
    <div class="pt-5 pb-5">
        <div class="row bg-light justify-content-center p-5">
            <div class="col-10 d-flex flex-column text-center w-50">
                <strong>No Items In Cart</strong>
                <hr>
                <strong>Total: $0.00</strong>
            </div>
        </div>
        <div class="row bg-light justify-content-center p-5">
            <a href="/User/userDashboard" class="mr-3 btn btn-success float-right" role="button" value="">Go Shopping!</a>
        </div>
    </div>
{{/if}}



